.container {
  width: calc(1200/1280 * 100%);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-box {
  width: 50%;
  height: 100vh;
  padding-top: 50%;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/flower.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-box .animation-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container .main-box .animation-box .animation {
  position: relative;
}

.container .main-box .animation-box .animation .card-img {
  list-style: none;
  width: 15%;
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.container .main-box .animation-box .animation .card-img img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes animation_o {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation_o {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation_o2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation_o2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation_o3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation_o3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation_o4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation_o4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container .main-box .animation-box .animation .opacity {
  -webkit-animation: animation_o .5s;
          animation: animation_o .5s;
}

.container .main-box .animation-box .animation .opacity2 {
  -webkit-animation: animation_o2 .5s;
          animation: animation_o2 .5s;
}

.container .main-box .animation-box .animation .opacity3 {
  -webkit-animation: animation_o3 .5s;
          animation: animation_o3 .5s;
}

.container .main-box .animation-box .animation .opacity4 {
  -webkit-animation: animation_o4 .5s;
          animation: animation_o4 .5s;
}

.container .main-box .animation-box .animation .card-add-class {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.container .main-box .animation-box .animation .card_X {
  width: 45%;
}

.container .main-box .box-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}

.container .main-box .box-cover-show {
  -webkit-transition: .5s all;
  transition: .5s all;
  opacity: 0.7;
}

.container .button-box {
  width: 40%;
  padding: 0 auto 0 30px;
}

.container .button-box input {
  -webkit-transition: .5s all;
  transition: .5s all;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.container .button-box input:hover {
  -webkit-transition: .5s all;
  transition: .5s all;
  background-color: #fff;
  color: #000;
}
/*# sourceMappingURL=style.css.map */